
h1{
    color: teal;
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
}
section{
    font-family: 'Franklin Gothic Medium';
    font-size:medium;
    color: darkgrey;
    text-align: center;
}
